server:
  port: 8080
  error:
    include-message: always

jwt:
  public:
    key: classpath:authz.pub
  private:
    key: classpath:authz.pem

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/queimap
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  sql:
    init:
      mode: never
      schema-locations: classpath:init.sql

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    url: /v3/api-docs.yaml
    config-url: /v3/api-docs/swagger-config
  writer-with-default-pretty-printer: true